@use "../../foundation/" as *;
@use "sass:math";

.c-background {

    &__branch-menu {
        background-color: $color--white;
    }

    &__title {
        height: 28.5rem;
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url(../../../images/main__title--sp.jpg);

        @include breakpoint(tablet) {
            background-image: url(../../../images/main__title--tablet.jpg);
        }

        @include breakpoint(pc) {
            background-image: url(../../../images/main__title--pc.jpg);
            height: 53rem;
        }
    }

    &__category {
        height: auto;
        width: auto;
        overflow: hidden;
        background-size: cover;
        background: rgba($color: $color--white, $alpha: 0.79);
        margin-bottom: 3.2%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__access {
        height: 100%;
        width: auto;
        display: block;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url(../../../images/main__map-sp.jpg);

        @include breakpoint(tablet) {
            background-image: url(../../../images/main__map-tablet.jpg);
        }

        @include breakpoint(pc) {
            background-image: url(../../../images/main__map-pc.jpg);
            
        }
    }

    &__map {
        height: auto;
        width: auto;
        display: block;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: bottom;
        background: rgba($color: $color--clearblack, $alpha: 0.5);
    }
}