@use "../../foundation/color" as *;

.c-background {
    height: 100%;
    width: 100%;
    display: inline-block;

    &__branch-menu {
        background-color: $color--white;
    }

    &__title {
        height: auto;
        width: auto;
        overflow: hidden;
        background-size: cover;
        background-image: url(../../../images/main__title.jpg);
    }

    &__category {
        height: auto;
        width: auto;
        overflow: hidden;
        background-size: cover;
        background: rgba($color: $color--white, $alpha: 0.79);
        margin-bottom: 3.2%;
    }

    &__access {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-size: contain;
        background-position: bottom;
        background-image: url(../../../images/main__map.jpg);
    }

    &__map {
        height: auto;
        width: auto;
        position: relative;
        overflow: hidden;
        background-size: contain;
        background-position: bottom;
        background: rgba($color: $color--clearblack, $alpha: 0.5);
    }

    &__text {
        height: auto;
        width: 61%;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: bottom;
        background: rgba($color: $color--clearblack, $alpha: 0.2);
    }
}