.c-background {
    background-color: #FFFFFF;
    
    
    &__takeout {
        background: url(../../../images/main__takeout.jpg) no-repeat center center;
    }

    &__takeout {
        background: url(../../../images/main__eatin.jpg) no-repeat center center;
    }
}