@use "../../foundation/" as *;

.c-button {

    &__menu {
        font-family: Roboto;
        color: $color--gray;
        font-size: 4rem;
        font-weight: bold;
        margin: 8.4rem auto 9rem 4.6rem;
    }
}