@use "../../foundation/color" as *;

.c-button {

    &__menu {
        font-family: Roboto;
        color: $color--gray;
        font-size: 4rem;
        font-weight: bold;
        margin: 84px auto 42px 46px;
    }
}