@use "../../foundation/" as *;

.c-card {
    font-family: "M PLUS 1p";
    font-weight: bold;
    height: auto;
    width: auto;
    background-color: $color--darkbrown;
    display: flex;
    flex-direction: column;

    &__title {
        height: auto;
        width: auto;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        position: relative;
        color: $color--white;
        margin-bottom: 5.9%;

        @include breakpoint(pc) {
            font-size: 3.6rem;
            margin-bottom: 9.3%;
        }    
    }

    &__title-sub {
        height: auto;
        width: auto;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        position: relative;
        color: $color--white;
        margin-bottom: 1.9%; 

        @include breakpoint(pc) {
            font-size: 2.4rem;
            margin-bottom: 12.7%;
        }    
    }

    &__text {
        font-weight: 400;
        height: auto;
        width: auto;
        font-size: 1.6rem;
        line-height: 1.49;
        display: flex;
        flex-direction: column;
        position: relative;
        color: $color--white;
        margin-bottom: 11.2%;

        @include breakpoint(tablet) {
            margin-bottom: 12.6%;
        }
    }

    &__button {
        height: 4.247rem;
        width: 16.316rem;
        display: flex;
        flex-direction: column;
        color: $color--gray;
        background-color: $color--white;
        border-radius: 35px 35px 35px 35px;
        margin-left: 6.39rem;
        margin-right: 7.69rem;

        @include breakpoint(tablet) {
            margin: 8rem;
            margin-right: 4.08rem;
        }

        @include breakpoint(pc) {
            margin-left: 14.2rem;
            margin-right: 7.5rem;
        }
    }
}