@use "../../foundation/color" as *;

.c-category {
    display: block;
    height: 100vh;
    width: 50%;
    font-family: "M PLUS 1p";
    color: $color--black;
    background-color: $color--white;

    h3 {
        font-family: Roboto;
        font-weight: bold;
        font-size: 8rem;
        color: $color--cream;
        height: 9.4rem;
        margin-bottom: 58%;
    }

    dt {
        font-weight: bold;
        font-size: 2.4rem;
        height: 2.4rem;
        margin-top: 1.4rem;
        margin-left: 2.4rem;
    }

    dd {
        font-weight: regular;
        font-size: 1.6rem;
        height: 9.6rem;
        margin: 1.8rem 2.1rem 1.4rem 2rem;
    }
}