@use "../../foundation/" as *;

.c-flexbox {

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint(pc) {
            flex-direction: row;
        }
    }
    
    &__branch-menu {
        display: flex;
        flex-direction: column;

        @include breakpoint(pc) {
            flex-direction: row;
            justify-content: space-between;
            gap: 8rem;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}