@use "../../foundation/" as *;

.c-flexbox {

    &__header {
        display: block;

        @include breakpoint(pc) {
            display: flex;
        }
    }
    
    &__branch-menu {
        display: inline-block;

        @include breakpoint(pc) {
            display: flex;
            justify-content: space-between;
            gap: 8rem;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}