@use "../../foundation/" as *;

.c-flexbox {

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint(pc) {
            flex-direction: row;
        }
    }
    
    &__branch-menu {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 2rem;
        
        @include breakpoint(tablet) {
            flex-direction: row;
            justify-content: space-between;
            gap: 4.1rem;
        }

        @include breakpoint(pc) {     
            gap: 8rem;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}