@use "../../foundation/" as *;

.c-footer-menu {
    list-style: none;
    font-family: "M PLUS 1p";
    font-weight: regular;
    height: auto;
    width: auto;
    font-size: 2rem;
    margin-bottom: 3.1rem;
    padding: 3px;
}