@use "../../foundation/" as *;

.c-inner {

    &__branch-menu {
        padding: 7.6% 7.6% 7.6% 7.6%;
    }

    &__category {
        padding: 0 3.4% 0 3.4%;
    }

    &__list {
        padding: 1.4rem 2rem 1.4rem 2rem;
        display: inline-block;
    }

    &__text {
        display: block;
        padding: 6% 10.6% 8.2% 10.6%;

        @include breakpoint(tablet) {
            padding: 10.1% 3.4% 9.6% 5%;
        }

        @include breakpoint(pc) {
            padding: 13% 8.6% 11.5% 7.6%;
        }
    }

    &__sidebar {
        padding-left: 12.5%;
        display: block;
        position: relative;
    }

    &__menu {
        padding-left: 5.4%;
    }

    &__footer {
        padding: 4.1rem 0 2.7rem 0;
    }
}