.c-inner {

    &__branch-menu {
        padding: 7.6% 7.6% 7.6% 7.6%;
    }

    &__category {
        padding: 0 3.4% 0 3.4%;
    }

    &__list {
        padding: 1.4rem 2rem 1.4rem 2rem;
        display: inline-block;
    }

    &__text {
        padding: 13% 8.6% 11.5% 7.6%;
        display: inline-block;
    }

    &__footer{
        padding: 4.1rem 0 2.7rem 0;
    }
}