.c-inner {

    &__branch-menu {
        padding: 7.6% 7.6% 7.6% 7.6%;
    }

    &__category {
        padding: 0 3.4% 0 3.4%;
    }

    &__list {
        padding: 1.4rem 2rem 1.4rem 2rem;
    }

    &__text {
        padding: 8.6rem 13.4rem 6.7rem 11.9rem;
    }
}