@use "../../foundation/color" as *;

.c-item {
    font-family: "M PLUS 1p";
    font-weight: regular;
    font-size: 2rem;
    color: $color--gray;
    height: 3rem;
    margin: 0px auto 2rem 6.6rem;
}