.c-search-form {
    width: 546px;
    height: 46px;
    margin: 86px 31px 586px ;

    &::before {
        content: "";
        background: url(../image/header__search-form.png) no-repeat center center / auto 100%;
        display: inline-block;
        position: absolute;
        margin: 12px auto 10px 9px;
    }
    
    &__keyword {
        width: 396px;
        height: 46px;
        border-radius: 10px 8px 10px 10px;
        background-color: #FFFFFF;
        display: inline-block;
        position: relative;
        border:  1px solid #707070;
        padding: 11px auto 11px 12px;
    }

    &__submit {
        width: 136px;
        height: 46px;
        margin: 86px 31px 85px 14px;
        background-color: #F2EDE9;
        border-radius: 10px 10px 10px 10px;
        border: 1px solid #707070;
        font-family: "M PLUS 1p";
        font-size: 16px;
        font-weight: 700;
        color: #707070;
    }
}