@use "../../foundation/color" as *;

.c-search-form {
    display: inline-block;
    position: relative;

    &::before {
        content: "";
        width: 24px;
        height: 24px;
        background: url(../../../images/header__search-form.png) no-repeat center center;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
    }
    
    &__keyword {
        width: 396px;
        height: 46px;
        border-radius: 10px 10px 10px 10px;
        background-color: $color--white;   
        border: 1px solid $color--gray;
        padding: 11px 36px 11px 12px;
    }

    &__submit {
        width: 136px;
        height: 46px;
        margin: 86px 31px 85px 14px;
        background-color: $color--offWhite;
        border-radius: 10px 10px 10px 10px;
        border: 1px solid $color--gray;
        font-family: "M PLUS 1p";
        font-size: 1.6rem;
        font-weight: 700;
        color: $color--gray;
    }
}