.c-search {
    width: 216px;
    height: 46px;
    margin: 0px auto 39px auto;
    display: flex;

    &__area {
        border-radius: 10px 8px 10px 10px;
        background-color: #FFFFFF;
        position: relative; 

        &::before {
            content: "";
            width: 24px;
            height: 24px;
            background: url(../image/search.png) no-repeat center center / auto 100%;
            display: inline-block;
            position: absolute;
            margin: 12px auto 10px 9px;
        }
    }

    &__button {
        width: 90px;
        height: 46px;
        margin-left: 16px;
        background-color: linear-gradient(90deg, #F2EDE9 100%, #DED8D3 100%);
        border-radius: 10px 10px 10px 10px;
        border: 1px solid #707070;
        font-family: "M PLUS 1p";
        font-size: 16px;
        font-weight: 700;
    }
}