@use "../../foundation/" as *;

.c-table {
    font-family: "M PLUS 1p";
    font-weight: 400;
    height: auto;
    width: 100%;
    position: relative;
    table-layout: fixed;
    font-size: 1.6rem;
    line-height: 1.5;
    border: solid 1px $color--gray;
    

    &__heading {
        height: auto;
        width: 42%;
        font-weight: 400;
        border: solid 1px $color--gray;
       // margin: 2.9rem 4.75rem 2.4rem 2.34rem;

        //@include breakpoint(tablet) {
            //margin: 2.9rem 12.1rem 2.4rem 3rem;
        //}

       // @include breakpoint(pc) {
           // margin: 2.9rem 33.5rem 2.4rem 3rem;
      //  }
    }

    &__data {
        height: auto;
        width: 58%;
        border: solid 1px $color--gray;
        //margin: 2.9rem 10.17em 2.4rem 2.92rem;

        //@include breakpoint(tablet) {
           //margin: 2.9rem 40.5rem 2.4rem 3rem;
        //}

        //@include breakpoint(pc) {
           // margin: 2.9rem 8.35rem 2.4rem 3rem;
        //}
    }
}