@use "../../foundation/color" as *;

.c-title {
    list-style-type: none;
    font-family: "M PLUS 1p";
    font-weight: bold;
    font-size: 2.4rem;
    color: $color--gray;
    height: 36px;
    margin: 48px auto 32px 46px;
}