@use "../../foundation/" as *;

.u-button {

    &__header {
        font-size: 2rem;
        height: 2.3rem;
        width: 5.1rem;
        margin: 0.8rem 0.8rem auto auto;

        @include breakpoint(tablet) {
            font-size: 3.4rem;
            height: 4rem;
            width: 8.7rem;
            margin: 0.8rem 0.8rem auto auto;
        }
    
        @include breakpoint(pc) {
            display: none;
        }
    }

    &__sidebar {
        font-size: 3.4rem;
        height: 4rem;
        width: 8.7rem;
        margin: 8.4rem auto 9rem 4.6rem;
    }
}