@use "../../foundation/color" as *;

.p-branch-menu {

    &__title {
        position: relative;
        height: 747px;
        overflow: hidden;
        background-image: url(../../../images/main__title.jpg);
        background-size: cover;

        h2 {
            font-family: "M PLUS 1p";
            font-weight: bold;
            font-size: 4rem;
            color: $color--white;
            height: 59px;
            margin: 385px auto 237px 86px;
        }
    }
}