@use "../foundation/" as *;

.l-header {
    grid-row: 1;
    grid-column: 1;
    background-color: $color--ivory;

    &__button {
        display: block;

        h2 {
            text-align: right;
        }
    }

    &__title {
        display: block;

        h2 {
            text-align: center;
        }
    }
}