.l-header {
    grid-row: 1;
    grid-column: 1;
    background: #FFF7EF;

    &__nav {
        display: flex;
    }

    &__title {
        font-family: "Roboto";
        color: #707070;
        font-size: 6.4rem;
        font-weight: bold;
        height: 84px;
        width: 325px;
        margin: 66px auto 67px 65px;
    }
}